<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Talics | Mandate</title>

    <meta name="description" content="Talics Recruiter Analytics Box.">
    <meta name="author" content="Talics">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<div class="row">
			
				<div class="col-md-10">
					<form role="form">
            <div class="row">
                  <div class="col-md-6" style="display: block;">
                      <div class="form-group" style="position: static;">
                          <label for="JDCode">JD Code</label>
                          <input type="Text" class="form-control" id="JDCode" placeholder="JD Code">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="Location">Location</label>
                          <input type="Text" class="form-control tt_font" id="Location" placeholder="Location">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="Requisition Manager">Requisition Manager</label>
                          <input type="Text" class="form-control" id="RequisitionManager" placeholder="RequisitionManager">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="Role">Role</label>
                          <input type="Text" class="form-control" id="Role" placeholder="Role">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="Education">Education</label>
                          <input type="Text" class="form-control" id="Education" placeholder="Education">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="MaxExpRange">MaxExpRange</label>
                          <input type="Text" class="form-control" id="MaxExpRange" placeholder="MaxExpRange">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="NoticePeriod">NoticePeriod</label>
                          <input type="Text" class="form-control" id="NoticePeriod" placeholder="NoticePeriod">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="Openings">Openings</label>
                          <input type="Text" class="form-control" id="Openings" placeholder="Openings">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="HiringMgrContact">HiringMgrContact</label>
                          <input type="Text" class="form-control" id="HiringMgrContact" placeholder="HiringMgrContact">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="RecruiterAssignedTo">RecruiterAssignedTo</label>
                          <input type="Text" class="form-control" id="RecruiterAssignedTo" placeholder="RecruiterAssignedTo">
                      </div>
                      <div class="form-group" style="position: static;">
                          <label for="ClientID">Client ID</label>
                          <input type="Text" class="form-control" id="ClientID" placeholder="ClientID">
                      </div>
                  </div>
    <div class="col-md-6" style="display: block;">
        <div class="form-group" style="position: static;">
            <label for="VacancyCode">Vacany Code</label>
            <input type="Text" class="form-control" id="VacancyCode" placeholder="Vacancy Code">
        </div>
        <div class="form-group" style="position: static;">
            <label for="Hiring Manager">Hiring Manager</label>
            <input type="Text" class="form-control" id="HiringManager" placeholder="HiringManager">
        </div>
        <div class="form-group" style="position: static;">
            <label for="KeySkills">Key Skills</label>
            <input type="Text" class="form-control" id="KeySkills" placeholder="KeySkills">
        </div>
        <div class="form-group" style="position: static;">
            <label for="DesiredExperience">DesiredExperience</label>
            <input type="Text" class="form-control" id="DesiredExperience" placeholder="DesiredExperience">
        </div>
        <div class="form-group" style="position: static;">
            <label for="MinExpRange">MinExpRange</label>
            <input type="Text" class="form-control" id="MinExpRange" placeholder="MinExpRange">
        </div>
        <div class="form-group" style="position: static;">
            <label for="CTC">CTC</label>
            <input type="Text" class="form-control" id="CTC" placeholder="CTC">
        </div>
        <div class="form-group" style="position: static;">
            <label for="Status">Status</label>
            <input type="Text" class="form-control" id="Status" placeholder="Status">
        </div>
        <div class="form-group" style="position: static;">
            <label for="No_Filled">No_Filled</label>
            <input type="Text" class="form-control" id="No_Filled" placeholder="No_Filled">
        </div>
        <div class="form-group" style="position: static;">
            <label for="HiringMgrEmail">HiringMgrEmail</label>
            <input type="Text" class="form-control" id="HiringMgrEmail" placeholder="HiringMgrEmail">
        </div>
        <div class="form-group" style="position: static;">
            <label for="AssignedDate">AssignedDate</label>
            <input type="Text" class="form-control" id="AssignedDate" placeholder="AssignedDate">
        </div>
    </div>
</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
